<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de flujos</title>

</head>
<body>

<section layout:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <nav id="navlist" class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul  class="nav nav-pills flex-column">
                    <li class="nav-item "><a id="opcion1" class="nav-link" href="/usuarios/list">Usuarios
                    </a></li>

                    <li class="nav-item "><a id="opcion3" class="nav-link active" href="/flujos/list">Flujos</a>
                    </li>

                    <li class="nav-item "><a id="opcion4" class="nav-link" href="/auditoria/list">Auditoría</a>
                    </li>
                    <li class="nav-item "><a id="opcion5" class="nav-link" href="/transacciones/list">Transacciones</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <h2>Flujos de distribución</h2>
    <div align="right">
        <form th:action="@{/flujos/list}" method="get">
            <div class="input-group input-group-sm" style="width: 450px;">
                <input type="text" name="id_flujo" class="form-control pull-right" placeholder="Buscar " th:if="${key} == null"/>
                <input type="text" name="id_flujo" class="form-control pull-right" placeholder="Buscar " th:if="${key} != null" th:id_flujo="${key}" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar...</button>
                </div>
            </div>
        </form>
    </div>

    <!--  <a th:href="@{/flujos/form}" class="btn btn-info btn-xs"><i class="far fa-file"></i> Agregar flujo
      </a> -->

      <table class="table table-striped table-sm">
          <tr>
              <th><a class="sorted" >No. de flujo</a></th>
              <th><a class="sorted" >Descripción</a></th>



              <!--    <th>Opciones</th> -->
        </tr>
        <tr th:each="p : ${lista}">

            <td th:text="${p.id_flujo}"></td>
            <td th:text="${p.descripcion}"></td>


            <!--
                        <td>
                                <a  class="btn btn-warning"  title="Editar flujo" th:href="@{/flujos/form(id_flujo=${p.id_flujo})}">
                                 <i  class="far fa-edit" ></i>
                                 </span>
                             </a>

                             <a  class="btn btn-danger btn-xs" title="Eliminar flujo" th:href="@{/flujos/eliminarflujo(id_flujo=${p.id_flujo})}">
                                 <i  class="fas fa-trash-alt "></i>
                                 </span>
                             </a>

            </td>
             -->
        </tr>
    </table>


    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Mostrando <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> de
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                registros</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li class="page-item"  th:class="${page.firstPage}?'disabled':''">
                            <span class="sr-only" th:if='${page.firstPage}'>← First</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(pag=0,size=${page.size})}'>←
                                Inicio</a>
                        </li>
                        <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(pag=${page.number-2},size=${page.size})}'
                               title='Anterior'>«</a>
                        </li>
                        <li class="page-item  " th:each='item : ${page.items}' th:classappend="${item.current} ? active : ''" >
                            <span class="page-link " th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link " th:if='${not item.current}'
                               th:href='@{${page.url}(pag=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(pag=${page.number},size=${page.size})}'
                               title='Siguiente'>»</a>
                        </li>
                        <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                            <span class="sr-only" th:if='${page.lastPage}'>Last →</span>
                            <a  class="page-link" th:if='${not page.lastPage}'
                                th:href='@{${page.url}(pag=${page.totalPages - 1},size=${page.size})}'>Ultimo →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</section>

</body>


</html>
