<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Distribución del flujo transaccional</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/all.css}"  >
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"  >

    <!-- Custom styles for this template -->
    <link th:href="@{/css/aplikasi.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/reenviosflujos/list">Flujo transaccional</a>
    <button class="navbar-toggler d-lg-none" type="button"
            data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li  th:if="${#request.isUserInRole('ADMIN')}" class="nav-item" id="menu2"><a class="nav-link" href="/usuarios/list" >Área Administrativa</a>
            </li>

            <li class="nav-item hide-icon "><a class="nav-link" href="/usuarios/perfil" >Perfil</a></li>
            </ul>
        <label class="text-white topmargin" >Usuario: <b th:inline="text">[[${#httpServletRequest.remoteUser}]]  </b>  &nbsp;    </label>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary">Salir</button>
        </form>
    </div>
</nav>




<main class="col-sm-9 ml-sm-auto col-md-10 pt-3 " role="main">


            <div >
                <section layout:fragment="content"></section>
            </div>



           <!-- <script src="/js/jquery-3.2.1.slim.min.js"  ></script> -->
            <script src="/js/jquery-3.4.0.min.js"  ></script>
            <script src="/js/popper.min.js"  ></script>
            <script src="/js/4.2.1.bootstrap.min.js" ></script>
            <script src="/js/bootbox.min.js"></script>
            <script src="/js/funciones.js"></script>
    <!--<script src="/js/bootstrap.min.js" ></script> -->
    <!--<script src="/js/jquery.min.js"></script> -->

    <!--<script src="/js/bootstrap.min3.4.js"></script> -->
           <!-- <script src="/js/bootstrap-confirmation.min.js"></script> -->



            <!-- end content utama --> </main>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Distribución del flujo transaccional:
        <a href="/aviso" target="_blank"> Aviso de privacidad</a>
    </div>
    <!-- Copyright -->

</footer>


</body>
<!--
<script>
    $(document).ready(function() {
        $(".nav").find(".active").removeClass("active");
        $('a[href="' + location.pathname + '"]').closest('a').addClass('active');
    });
</script>
-->
</html>
