<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de flujos</title>

</head>
<body>

<section layout:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <nav id="navlist" class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul  class="nav nav-pills flex-column">
                    <li class="nav-item"><a id="reenvios" class="nav-link active"  href="/reenviosflujos/list">Cadenas en error</a></li>
                    <li class="nav-item"><a id="historico" class="nav-link" href="/historico/list">Consultar Histórico</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <h3>Esquema Ejecutor</h3>
    <h4> Filtrar cadenas en error del flujo <label  th:text="${flujo}"> </label>    <label  th:text="${descripcionflujo}"> </label> </h4>



    <div th:if="${!mensaje.isEmpty() && mensaje.contains('seleccionar') }" class="alert alert-danger topmargin2">
        <label class="col-sm-8 col-form-label"  th:text="${mensaje}"> </label>
    </div>
    <div th:if="${!mensaje.isEmpty() && mensaje.contains('folio') }" class="alert alert-success topmargin2">
        <label class="col-sm-8 col-form-label"  th:text="${mensaje}"> </label>
    </div>




    <form th:action="@{/reenviosflujos/listFiltrosEjecutor}" method="get">

        <input  class="col-sm-2 col-form-label d-none" name="flujoid" th:value="${flujo}">

        <div class="form-row">
            <div class="form-group col-sm-1 ">
                <label >Folio</label>
                <input type="text"
                       th:fnfolioconsec="${fnfolioconsec}"
                       name="fnfolioconsec"  class="form-control" id="fnfolioconsec"  th:value="${fnfolioconsec}" placeholder="Folio"/>
            </div>

            <div class="form-group col-sm-1">
                <label for="sucursaldes">Sucursal</label>
                <input type="text" name="fnsucursaldest"
                       th:fnsucursaldest="${fnsucursaldest}"
                       class="form-control"  id="sucursaldes"  maxlength="4" th:value="${fnsucursaldest}" placeholder="Sucursal"   >
            </div>

            <div class="form-group col-sm-2 ">
                <label >Error</label>
                <input type="text"
                       th:fcdescerror="${fcdescerror}"
                       name="fcdescerror" class="form-control" id="textoerror"  th:value="${fcdescerror}"   placeholder="Error"/>
            </div>



            <div class="form-group col-sm-3">
                <label for="desde">Desde</label>
                <input type="date"
                       th:desde="${desde}"
                       name="desde" class="form-control" id="desde"  th:value="${desde}"  >
            </div>
            <div class="form-group col-sm-3">
                <label for="hasta">Hasta</label>
                <input type="date"
                       th:hasta="${hasta}"
                       name="hasta" class="form-control" id="hasta"  th:value="${hasta}" >
            </div>
            <div class="input-group-btn  topmargin2">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>

    </form>

    <form  th:action="@{/reenviosflujos/listFiltrosEjecutor}"  th:object="${flujos222}"
           method="post">

        <input  class="col-sm-2 col-form-label d-none" name="fnfolioconsec" th:value="${fnfolioconsec}">
        <input  class="col-sm-2 col-form-label d-none" name="fnsucursaldest" th:value="${fnsucursaldest}">
        <input  class="col-sm-2 col-form-label d-none" name="fcdescerror" th:value="${fcdescerror}">
        <input  class="col-sm-2 col-form-label d-none" name="desde" th:value="${desde}">
        <input  class="col-sm-2 col-form-label d-none" name="hasta" th:value="${hasta}">


    <div class="form-group row pull-right">

        <div class="col-sm-10">
            <input  class="col-sm-2 col-form-label d-none" name="flujoid" th:value="${flujo}">
            <a  class="btn btn-success"  title="Exportar CSV" th:href="@{/reenviosflujos/downloadCSVEjecutor(fnflujoid=${flujo},fnfolioconsec=${fnfolioconsec},fnsucursaldest=${fnsucursaldest},fcdescerror=${fcdescerror},desde=${desde},hasta=${hasta})}">
                <i  class="fas fa-file-csv" ></i> Exportar CSV
            </a>

            <button type="submit" class="btn btn-secondary fa-pull-right"  name="action" value="2"  >Enviar a Histórico</button>
        </div>
    </div>

        <table class="table table-striped table-sm textos" id="tablaerrores">
            <tr>
                <th><div class="form-check">
                    <input type="checkbox" class="form-check-input topmargin3" id="select-all"> <label class="form-check-label"> TODO  </label>
                </div></th>
                <th><a class="sorted" >PAÍS</a></th>
                <th><a class="sorted" >CANAL</a></th>
                <th><a class="sorted" >SUCURSAL</a></th>
                <th><a class="sorted" >FOLIO CONSECUTIVO</a></th>
                <th><a class="sorted" >INTENTOS</a></th>
                <th><a class="sorted" >FECHA PROCESO</a></th>
                <th><a class="sorted" >ERROR</a></th>
                <th><a class="sorted" >CADENA</a></th>
            </tr>
            <tr th:each="p : ${lista}">
                <td>
                    <div th:if="${p.fnnointentos < 5 && #request.isUserInRole('GENERAL') }"  class="form-check text-center" >
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input topmargin4"  name="flujosids" th:value="${p.fnfolioconsec}">
                        </label>
                    </div>
                    <div th:if="${#request.isUserInRole('ADMIN') }"  class="form-check text-center" >
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input topmargin4"  name="flujosids" th:value="${p.fnfolioconsec}">
                        </label>
                    </div>
                </td>
                <td th:text="${p.fnpaisdest}"></td>
                <td th:text="${p.fncanaldest}"></td>
                <td th:text="${p.fnsucursaldest}"></td>
                <td th:text="${p.fnfolioconsec}"></td>
                <td th:text="${p.fnnointentos}" class="intentos"></td>
                <td th:text="${p.fdfechaproceso}"></td>
                <td th:text="${p.fcdescerror}"></td>
                <td th:text="${p.fccadenaejec}"></td>

            </tr>
        </table>

    </form>

    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Mostrando <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> de
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                registros</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li class="page-item"  th:class="${page.firstPage}?'disabled':''">
                            <span class="sr-only" th:if='${page.firstPage}'>← First</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(pag=0,size=${page.size},flujoid=${flujo},fnfolioconsec=${fnfolioconsec},fnsucursaldest=${fnsucursaldest},fcdescerror=${fcdescerror},desde=${desde},hasta=${hasta})}'>←
                                Inicio</a>
                        </li>
                        <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(pag=${page.number-2},size=${page.size},flujoid=${flujo},fnfolioconsec=${fnfolioconsec},fnsucursaldest=${fnsucursaldest},fcdescerror=${fcdescerror},desde=${desde},hasta=${hasta})}'
                               title='Anterior'>«</a>
                        </li>
                        <li class="page-item  " th:each='item : ${page.items}' th:classappend="${item.current} ? active : ''" >
                            <span class="page-link " th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link " th:if='${not item.current}'
                               th:href='@{${page.url}(pag=${item.number-1},size=${page.size},flujoid=${flujo},fnfolioconsec=${fnfolioconsec},fnsucursaldest=${fnsucursaldest},fcdescerror=${fcdescerror},desde=${desde},hasta=${hasta})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(pag=${page.number},size=${page.size},flujoid=${flujo},fnfolioconsec=${fnfolioconsec},fnsucursaldest=${fnsucursaldest},fcdescerror=${fcdescerror},desde=${desde},hasta=${hasta})}'
                               title='Siguiente'>»</a>
                        </li>
                        <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                            <span class="sr-only" th:if='${page.lastPage}'>Last →</span>
                            <a  class="page-link" th:if='${not page.lastPage}'
                                th:href='@{${page.url}(pag=${page.totalPages - 1},size=${page.size},flujoid=${flujo},fnfolioconsec=${fnfolioconsec},fnsucursaldest=${fnsucursaldest},fcdescerror=${fcdescerror},desde=${desde},hasta=${hasta})}'>Ultimo →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</section>

</body>


</html>
